/.idea/
/aston_yakkonen_homework_2.5_kafka.iml
/volumes/server-1/
/volumes/server-2/
/volumes/server-3/
/volumes/postgres_data/
/core/target/
/emailnotificationservice/target/
/userservice/target/
/volumes/new_postgres_data/
/configservice/target/
/discoveryservice/target/
/gatewayservice/target/
